@use "../../scss/globals.scss";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-localization-source-modal {
  &__container {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
    min-width: 500px;
  }

  &__spinner {
    animation: spin 1s linear infinite;
    margin-right: calc(globals.$spacing-unit / 2);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: globals.$spacing-unit;
    margin-top: calc(globals.$spacing-unit * 2);
  }
}
